<div class="container">
       <h1 class="text-left">Leaderboards</h1>
    <tabset>
        
        <tab heading="Colleges" class="pull-right">
            <div class="row">
                <div class="col-md-12">
                    <h3>College Leaderboard</h3>
                    <div ng-repeat="college in colleges | orderBy:'-score' | limitTo: 3" class="row {{college.url}} rank-{{$index+1}}">
                        <div class="col-xs-2 text-center">{{$index + 1}}</div>
                        <div class="col-xs-7 text-left">
                           <shield college="{{college.college}}" collegeurl="{{college.url}}" size="largeShield hidden-xs"></shield><a style="color:#fff;" ng-href="/#/college/{{college.url}}">{{college.college}}</a>
                        </div>
                        <div class="col-xs-2 text-right">{{college.score}}</div>
                    </div>
                    
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="college in colleges | orderBy:'-score'" ng-if="$index > 2">
                            <td>{{$index + 1}}</td>
                            <td><shield college="{{college.college}}" collegeurl="{{college.url}}" size="smallShield"></shield><a ng-href="/#/college/{{college.url}}">{{college.college}}</a></td>
                            <td>{{college.score}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>

        <tab heading="Players" class="pull-right">
            <div class="row">
                <div class="col-md-12">
                    <h3>Player Leaderboard</h3>
                    <table class="table table-hover">
                        <tbody>
                            <tr playerlb-row ng-repeat="player in players | orderBy:['-points', 'name'] | limitTo:12" 
                            rank="{{$index + 1}}" 
                            player="{{player.name}}"
                            points="{{player.points}}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>

    </tabset>
</div>
