<div class="container" ng-controller="NewsfeedCtrl">

    <div class="row">
        <div class="col-md-4">
            <h2>Recent Games</h2>
                 <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Sport</th>
                        <th>Date</th>
                        <th>Teams</th>
                        <th>Scores</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr game-row ng-repeat="game in pastGames | orderBy:'-date' | limitTo:8"
                            date="{{game.date | date:'MM/dd'}}"
                            sport="{{game.sport.get('Sport')}}"
                            sporturl="{{game.sport.get('URL')}}"
                            team1="{{game.team1.get('College')}}"
                            team1abbr="{{game.team1.get('Abbreviation')}}"
                            team1url="{{game.team1.get('URL')}}"
                            team2="{{game.team2.get('College')}}"
                            team2abbr="{{game.team2.get('Abbreviation')}}"
                            team2url="{{game.team2.get('URL')}}"
                            past="true"
                            score1="{{game.score1}}"
                            score2="{{game.score2}}"></tr>
                    </tbody>
                </table>
            <h2>Overall Leaderboard</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>College</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score' | limitTo:8"
                        noWinLoss="true"
                        rank="{{$index + 1}}"
                        college="{{college.college}}"
                        collegeurl="{{college.url}}"
                        points="{{college.score}}"></tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2>Upcoming Games</h2>
            <table class="table table-hover">
                 <thead>
                    <tr>
                        <th>Sport</th>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>RSVP</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr game-row ng-repeat="game in upcomingGames | orderBy:'date' | limitTo:20"
                            date="{{game.date | date:'MM/dd @ h:mma'}}"
                            sport="{{game.sport.get('Sport')}}"
                            sporturl="{{game.sport.get('URL')}}"
                            team1="{{game.team1.get('College')}}"
                            team1abbr="{{game.team1.get('Abbreviation')}}"
                            team1url="{{game.team1.get('URL')}}"
                            team2="{{game.team2.get('College')}}"
                            team2abbr="{{game.team2.get('Abbreviation')}}"
                            team2url="{{game.team2.get('URL')}}"
                            netid="{{student.id}}"
                            gameid="{{game.object.id}}"
                            attending="{{game.going}}"
                            rsvp="true"
                            showrsvp="{{game.showrsvp}}">
                        </tr>
                    </tbody>
            </table>
        </div>

    </div>

</div>
