<div class="jumbotron coverPhoto {{student.collegeurl}}">
    <div class="container">
        <h1>{{student.name}}</h1>
        <h2>{{student.college}} {{student.year}}</h2>
    </div>
</div>

<div class="container">

    <h2>My Teams<button type="button" ng-click="toggleModal()" class="btn btn-danger pull-right">Add Team</button></h2>

    <div class="row">
        <div ng-repeat="team in playerTeams | orderBy: ['season','sport']" class="col-md-2 col-sm-3 col-xs-4">
            <flaticon  sport="{{team.sport}}" sporturl="{{team.url}}" size="mediumSportIcon" center="true"></flaticon>
        </div>
    </div>

    <h2>Games I Am Attending</h2>
    
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Sport</th>
                    <th>Date</th>
                    <th>Colleges</th>
                </tr>
                </thead>
                <tbody>
                    <tr game-row ng-repeat="game in upcomingGames | filter:sportURL | limitTo: 10"
                        sport="{{game.sport.get('Sport')}}"
                        sporturl="{{game.sport.get('URL')}}"
                        team1="{{game.team1.get('College')}}"
                        team1abbr="{{game.team1.get('Abbreviation')}}"
                        team1url="{{game.team1.get('URL')}}"
                        team2="{{game.team2.get('College')}}"
                        team2abbr="{{game.team2.get('Abbreviation')}}"
                        team2url="{{game.team2.get('URL')}}"
                        netid="{{student.id}}"
                        gameid="{{game.object.id}}"
                        attending="{{game.going}}"
                        
                        date="{{game.date | date:'MM/dd @ h:mma'}}"
                        rsvp="true"
                        showrsvp="{{game.showrsvp}}"></tr>
                </tbody>
            </table>
      

    <h4>Games Attended</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Sport</th>
                <th>Date</th>
                <th>Colleges</th>
                <th>Score</th>
                <th>Outcome</th>
            </tr>
            </thead>
            <tbody>
            <tr game-row ng-repeat="game in pastGames | filter:sportURL | limitTo: 10"
                sport="{{game.sport.get('Sport')}}"
                sporturl="{{game.sport.get('URL')}}"
                team1="{{game.team1.get('College')}}"
                team1abbr="{{game.team1.get('Abbreviation')}}"
                team1url="{{game.team1.get('URL')}}"
                team2="{{game.team2.get('College')}}"
                team2abbr="{{game.team2.get('Abbreviation')}}"
                team2url="{{game.team2.get('URL')}}"
                score1="{{game.score1}}"
                score2="{{game.score2}}"
                past="true"
                date="{{game.date | date:'MM/dd'}}"
                outcome="{{game.outcome}}"></tr>
            </tbody>
        </table>

</div>