    <!-- Splash for Admin Dashboard -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Administrative Dashboard</h1>
        </div>

        <div class="row">
            <!-- Side Menu Bar -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked affix">
                    <li><a>Update Scores</a></li>
                    <li><a>Manage Teams</a></li>
                    <li><a>Add Games</a></li>
                </ul>
            </div>

            <!-- Page Content -->
            <div class="col-md-9">
                <div class="page-header">
                    <h1>Update Scoreboard <span class="badge badge-danger">42</span></h1>
                </div>


                <div class="page-header">
                    <h1>Update Schedule</h1>
                </div>


                <div class="page-header">
                    <h1>Manage Teams</h1>
                </div>
                <div class="row">
                    <div ng-repeat="season in allSports">
                        <div class="col-md-3">
                            <h3>{{season.season}}</h3>
                            <div class="row">
                                <sport-select ng-repeat="sport in season.sport"
                                              dial="updateSchedule(sport.get('Sport'), sport.get('URL'))"
                                              updatepage="true"
                                              url=""
                                              sporturl="{{sport.get('URL')}}"
                                              sport="{{sport.get('Sport')}}"
                                              iconsize="adminSportIcon"
                                              colsize="col-md-4"></sport-select>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>


        </div>


    </div>




    <!-- Schedule Games -->
    <!--<div class="text-center"><h1>Schedule Games</h1></div>

      <div class="row">
            <div class="col-md-10">
              <h3>Add a Game</h3>
              <form class="form-horizontal">
                  <select ng-model="formTeam1" ng-options="c.get('College') for c in collegeObjects"></select>
                  <select ng-model="formTeam2" ng-options="c.get('College') for c in collegeObjects"></select>
                  <select ng-model="formSport" ng-options="c.get('Sport') for c in sportObjects"></select>
                  <input type="date" ng-model="gameDate">
                  <input type="time" ng-model="gameTime">
                  <button class="btn" ng-click="addGames()"><i class="icon-plus"></i>Add</button>
              </form>
          </div>
        </div>

        <h3>My IM Gcal</h3>
      <iframe src="https://www.google.com/calendar/embed?src=chr1u8ok860cen4lpr1mhpg1t0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

      &lt;!&ndash; Enter Scores &ndash;&gt;
      <div class="text-center"><h1>Enter Scores</h1></div>


        <div class="row">
          <div class="col-md-10">
              <h2>Recent Games</h2>
              <h4>Note : Change this to be recent, not upcoming games. Also, filter so only admin's college games are listed</h4>
              <table class="table table-hover">
                   <thead>
                      <tr>
                          <th>Sport</th>
                          <th>Date</th>
                          <th>Colleges</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr game-row ng-repeat="game in upcomingGames | orderBy:'date'"
                              date="{{game.date | date:'MM/dd @ h:mma'}}"
                              sport="{{game.sport.get('Sport')}}"
                              sporturl="{{game.sport.get('URL')}}"
                              team1="{{game.team1.get('College')}}"
                              team1abbr="{{game.team1.get('Abbreviation')}}"
                              team1url="{{game.team1.get('URL')}}"
                              team2="{{game.team2.get('College')}}"
                              team2abbr="{{game.team2.get('Abbreviation')}}"
                              team2url="{{game.team2.get('URL')}}">
                          </tr>
                      </tbody>
              </table>
          </div>
      </div>
-->
  







