<div class="container" ng-controller="AdminCtrl" ng-init="getGames()">
    <!--    

     Main Dashboard
    -->
    <div ng-show="showDashboard()">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <form class="navbar-form navbar-left" role="form">
                <a class="navbar-brand" href="#">Back to Main Site</a>
              </form>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                <a class="navbar-brand" href="#/profile">My Profile</a>
              </form>
            </div>
          </div>
        </div>


        <div class="jumbotron">
          <div class="container">
            <h1>IM Secretary Dashboard</h1>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Update Scoreboard</h2>
              <p>Enter scores for games played.</p>
              <p><button ng-click="score()" >Update Now &raquo;</button></p>
            </div>
            <div class="col-md-4">
              <h2>Schedule Games</h2>
              <p>Assign and change dates for upcoming games (sends calendar alert to other IM secretaries). </p>
              <p><button ng-click="schedule()" >Schedule Now &raquo;</button></p>
           </div>
            <div class="col-md-4">
              <h2>Manage Teams</h2>
              <p>Add and remove members from IM teams. Send emails to teams.</p>
              <p><button ng-click="team()" >Manage Now &raquo;</button></p>
            </div>
          </div>
    </div>
</div>



          <!--

          Manage Teams
        
        
          -->
    <div ng-show="showTeam()">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" ng-click="dashboard()">Back to Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                <a class="navbar-brand" ng-click="score()">Enter Scores</a>
                <a class="navbar-brand" ng-click="schedule()">Schedule Games</a>
              </form>
            </div>
          </div>
        </div>

        <div class="text-center"><h1>Manage Teams</h1></div>

        <div class="container">
          <h2>Spring</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Softball</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Ultimate</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Golf</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Billiards</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Volleyball</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Badminton</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Soccer</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Coed Dodgeball</h2>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>

              </div>
            </div>

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <h3>Other Seasons</h3>
              <div class="list-group">
                <a href="#" class="list-group-item active">Spring</a>
                <a href="#" class="list-group-item">Winter</a>
                <a href="#" class="list-group-item">Fall</a>
            </div>
          </div>   
      </div>
    </div>

</div>

          <!--


          Schedule Games


          -->
  <div ng-show="showSchedule()" >

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" ng-click="dashboard()">Back to Dashboard</a>
          </div>
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
              <a class="navbar-brand" ng-click="score()">Enter Scores</a>
              <a class="navbar-brand" ng-click="team()">Manage Teams</a>
            </form>
          </div>
        </div>
    </div>

    <div class="text-center"><h1>Schedule Games</h1></div>

      <div class="row">
            <div class="col-md-10">
              <h3>Add a Game</h3>
              <form class="form-horizontal">
                  <select ng-model="formTeam1" ng-options="c.get('College') for c in collegeObjects"></select>
                  <select ng-model="formTeam2" ng-options="c.get('College') for c in collegeObjects"></select>
                  <select ng-model="formSport" ng-options="c.get('Sport') for c in sportObjects"></select>
                  <input type="date" ng-model="gameDate">
                  <input type="time" ng-model="gameTime">
                  <button class="btn" ng-click="addGames()"><i class="icon-plus"></i>Add</button>
              </form>
          </div>
        </div>

        <h3>My IM Gcal</h3>
      <iframe src="https://www.google.com/calendar/embed?src=chr1u8ok860cen4lpr1mhpg1t0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
      
      <!--


      Enter Scores


  -->
  <div ng-show="showScore()">    
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" ng-click="dashboard()">Back to Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                <a class="navbar-brand" ng-click="schedule()">Schedule Games</a>
                <a class="navbar-brand" ng-click="team()">Manage Teams</a>
              </form>
            </div>
          </div>
      </div>

      <div class="text-center"><h1>Enter Scores</h1></div>


        <div class="row">
          <div class="col-md-10">
              <h2>Recent Games</h2>
              <h4>Note : Change this to be recent, not upcoming games. Also, filter so only admin's college games are listed</h4>
              <table class="table table-hover">
                   <thead>
                      <tr>
                          <th>Sport</th>
                          <th>Date</th>
                          <th>Colleges</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr game-row ng-repeat="game in upcomingGames | orderBy:'date'"
                              date="{{game.date | date:'MM/dd @ h:mma'}}"
                              sport="{{game.sport.get('Sport')}}"
                              sporturl="{{game.sport.get('URL')}}"
                              team1="{{game.team1.get('College')}}"
                              team1abbr="{{game.team1.get('Abbreviation')}}"
                              team1url="{{game.team1.get('URL')}}"
                              team2="{{game.team2.get('College')}}"
                              team2abbr="{{game.team2.get('Abbreviation')}}"
                              team2url="{{game.team2.get('URL')}}">
                          </tr>
                      </tbody>
              </table>
          </div>
      </div>
    </div>




</div>
  







