<div class="jumbotron coverPhoto {{collegeURL}}">
    <div class="container">

        <h1>{{collegeName}}</h1>
        <h2>{{totalTyngPoints}} Tyng Points</h2>

    </div>
</div>

<div class="container" ng-controller='CollegeCtrl'>
    <div class="row">
        <div class="col-md-3">
            <h2>Sports</h2>
            <div ng-repeat="season in allSports">
                <h3>{{season.season}}</h3>
                <div class="row">
                    <sport-select ng-repeat="sport in season.sport" url="/#/college/{{collegeURL}}/{{sport.url}}" sporturl="{{sport.url}}" sport="{{sport.name}}" iconsize="mediumSportIcon" colsize="col-md-4"></sport-select>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <h2>{{collegeName}} {{sportName}}<small>({{sportWins}}-{{sportLosses}})</small> <small>{{sportTyngPoints}} Tyng Points</small></h2>
            <h3>Schedule</h3>
                <h4>Past Games</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>Score</th>
                        <th>Outcome</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr game-row ng-repeat="game in pastGames"
                        team1="{{game.team1}}"
                        team2="{{game.team2}}"
                        score1="{{game.score1}}"
                        score2="{{game.score2}}"
                        past="true"
                        noicon="true"
                        date="{{game.date | date:'MM/dd @ h:mma'}}"
                        outcome="{{outcome}}W"></tr>
                    </tbody>
                </table>
                 <h4>Upcoming Games</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>RSVP</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr game-row ng-repeat="game in upcomingGames"
                        team1="{{game.team1}}"
                        team2="{{game.team2}}"

                        date="{{game.date | date:'MM/dd @ h:mma'}}"
                        noicon="true"
                        rsvp="true"></tr>
                    </tbody>
                </table>
        </div>

    </div>

</div>