<div class="jumbotron coverPhoto morse">
    <div class="container">

        <h1>Morse</h1>
        <h2>800 Tyng Points</h2>

    </div>
</div>

<div class="container" ng-controller='CollegeCtrl' ng-init="init('Morse', 'Coed Water Polo')">

    <div class="row">
        <div class="col-md-3">
            <h2>Sports</h2>
            <div class="row">
                <div class="col-md-6"><a class="thumbnail"><center><span class="flaticon-badminton1 mediumSportIcon"></span></center></a></div>
                <div class="col-md-6"><a class="thumbnail"><center><span class="flaticon-bowling2 mediumSportIcon"></span></center></a></div>
                <div class="col-md-6"><a class="thumbnail"><center><span class="flaticon-bat mediumSportIcon"></span></center></a></div>
                <div class="col-md-6"><a class="thumbnail"><center><span class="flaticon-bowling2 mediumSportIcon"></span></center></a></div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <h2>Morse Bowling <small>(W-L)</small> <small>120 Tyng Points</small></h2>
            <h3>Schedule</h3>
                <h4>Past Games</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>Score</th>
                        <th>Tyng Points</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr gamelb-row ng-repeat="game in pastGames" college1="{{game.team1}}" college2="{{game.team2}}" score1="{{game.score1}}" score2="{{game.score2}}" points=0 date="{{game.date}}"></tr>
                    </tbody>
                </table>
                 <h4>Upcoming Games</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>Score</th>
                        <th>Tyng Points</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr gamelb-row ng-repeat="game in upcomingGames" college1="{{game.team1}}" college2="{{game.team2}}" score1="{{game.score1}}" score2="{{game.score2}}" points=0 date="{{game.date}}"></tr>
                    </tbody>
                </table>
        </div>

    </div>

</div>