<div class="container">

    <div class="jumbotron">
        <center>
            <h1>Yale IMs</h1>
            <p>Some welcome text here to introduce the site.</p>
            <button type="button" class="btn btn-lg btn-danger">Login</button>
            <p class="text-muted"><small>*Uses CAS Login</small></p>
        </center>
    </div>

    <hr class="featurette-divider">
</div>
<div class="container" ng-controller='HomeCtrl'>

    <form class="form-horizontal">
        <select class="form-group" ng-model="formTeam1" ng-options="c.get('College') for c in collegeObjects"></select>
        <select class="form-group" ng-model="formTeam2" ng-options="c.get('College') for c in collegeObjects"></select>
        <select ng-model="formSport" ng-options="c.get('Sport') for c in sportObjects"></select>
        <button class="btn" ng-click="addGames()"><i class="icon-plus"></i>Add</button>
    </form>

    <div class="row">
        <!-- Upcoming -->
        <div class="col-md-4">
            <h3>Upcoming Games</h3>
            <table class="table table-hover">
                <tbody>
                    <tr game-row ng-repeat="game in upcomingGames | orderBy:'date' | limitTo:6"
                        date="{{game.date | date:'MM/dd @ h:mma'}}"
                        sport="{{game.sport.get('Sport')}}"
                        sporturl="{{game.sport.get('URL')}}"
                        team1="{{game.team1.get('College')}}"
                        team1abbr="{{game.team1.get('Abbreviation')}}"
                        team1url="{{game.team1.get('URL')}}"
                        team2="{{game.team2.get('College')}}"
                        team2abbr="{{game.team2.get('Abbreviation')}}"
                        team2url="{{game.team2.get('URL')}}"></tr>
                </tbody>
            </table>
        </div>

        <!-- Leaderboard - Colleges -->
        <div class="col-md-4">
            <h3>College Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                    <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score' | limitTo:6"
                        noWinLoss="true"
                        rank="{{$index + 1}}"
                        college="{{college.college}}"
                        collegeurl="{{college.url}}"
                        points="{{college.score}}"></tr>
                </tbody>
            </table>
        </div>

        <!-- Leaderboard - People -->
        <div class="col-md-4">
            <h3>Player Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                    <tr playerlb-row ng-repeat="player in players | orderBy: player : get('Points') | limitTo:6" 
                        rank="{{$index + 1}}" 
                        player="{{player.name}}" 
                        points="{{player.points}}"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="season in allSports">
            <div class="col-md-3">

                <h2>{{season.season}}</h2>
                <div class="row">
                    <sport-select ng-repeat="sport in season.sport" 
                        url="/#/sport/{{sport.get('URL')}}" 
                        sporturl="{{sport.get('URL')}}" 
                        sport="{{sport.get('Sport')}}" 
                        iconsize="mediumSportIcon" 
                        colsize="col-sm-4">
                    </sport-select>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>