<div class="container">
    <div class="jumbotron">
        <center>
            <h1>Yale IMs</h1>
            <p>Some welcome text here to introduce the site.</p>
            <button type="button" class="btn btn-lg btn-danger">Login</button>
            <p class="text-muted"><small>*Uses CAS Login</small></p>
        </center>
    </div>

    <hr class="featurette-divider">
</div>
<div class="container">

    <div class="row">
        <!-- Upcoming -->
        <div class="col-md-4">
            <h3>Upcoming Games</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="game in upcomingGames"></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <!-- Leaderboard - Colleges -->
        <div class="col-md-4">
            <h3>College Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                    <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score' | limitTo:6" noWinLoss="true" rank="{{$index + 1}}" college="{{college.name}}" points="{{college.score}}"></tr>
                </tbody>
            </table>
        </div>

        <!-- Leaderboard - People -->
        <div class="col-md-4">
            <h3>Player Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                    <tr playerlb-row ng-repeat="player in players | orderBy:'-points' | limitTo:6" rank="{{$index + 1}}" player="{{player.name}}" points="{{player.points}}"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<div class="container">
    <h2>Winter Sports</h2>
    <div class="row">
        <div ng-repeat="sport in sports" class="col-md-3">
            <a class="thumbnail"><center><span class="largeSportIcon flaticon-{{sport.name}}"></span></center></a>
        </div>
    </div>
</div>