<div class="container">

    <div class="page-header">
        <h1>Leaderboards</h1>
    </div>

</div>

<div class="container">
    <!-- Leaderboard - Colleges -->
    <div class="row">
        <div class="col-md-6">
            <h3>College Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score'" noWinLoss="true" rank="{{$index + 1}}" college="{{college.name}}" points="{{college.score}}"></tr>
                </tbody>
            </table>
        </div>

        <!-- Leaderboard - People -->
        <div class="col-md-6">
            <h3>Player Leaderboard</h3>
            <table class="table table-hover">
                <tbody>
                <tr playerlb-row ng-repeat="player in players | orderBy:'-points' | limitTo:12" rank="{{$index + 1}}" player="{{player.name}}" points="{{player.points}}"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Badminton</h3>
    <div class="row">
        <div class="col-md-3">
            <a class="thumbnail"><center><span class="flaticon-badminton1 largeSportIcon"></span></center></a>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Colleges</th>
                    <th>Score</th>
                    <th>Win-Loss</th>
                </tr>
                </thead>
                <tbody>
                    <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score'" rank="{{$index + 1}}" college="{{college.name}}" points="{{college.score}}" wins="1" loss="3"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
