<div class="container" ng-controller="NewsfeedCtrl">

    <div class="row">
        <div class="col-md-4">
            <h2>Recent Games</h2>
                 <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>Score</th>
                        <th>Sport</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr gamelb-row ng-repeat="game in pastGames" college1="{{game.team1}}" college2="{{game.team2}}" score1="{{game.score1}}" score2="{{game.score2}}" points="{{game.sport}}" date="{{game.date}}"></tr>
                    </tbody>
                </table>
            <h2>Overall Leaderboard</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>College</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr collegelb-row ng-repeat="college in colleges | orderBy:'-score' | limitTo:6" noWinLoss="true" rank="{{$index + 1}}" college="{{college.name}}" points="{{college.score}}"></tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2>Upcoming Games</h2>
            <table class="table table-hover">
                <!--<thead>
                <tr>
                    <th>Sport</th>
                    <th>Colleges</th>
                    <th>Time</th>
                    <th>RSVP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-badminton1"></span></a></td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-bowling2"></span></a></td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-bat"></span></a></td>
                    <td colspan="2">Larry the Bird</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                </tbody>-->
                 <thead>
                    <tr>
                        <th>Date</th>
                        <th>Colleges</th>
                        <th>Score</th>
                        <th>Sport</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr gamelb-row ng-repeat="game in upcomingGames" college1="{{game.team1}}" college2="{{game.team2}}" score1="{{game.score1}}" score2="{{game.score2}}" points="{{game.sport}}" date="{{game.date}}"></tr>
                    </tbody>
            </table>
        </div>

    </div>

</div>
