<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Recent Games</h2>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>



            <h2>Overall Leaderboard</h2>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2>Upcoming Games</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Sport</th>
                    <th>Colleges</th>
                    <th>Time</th>
                    <th>RSVP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-badminton1"></span></a></td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-bowling2"></span></a></td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                <tr>
                    <td><a><span class="smallSportIcon flaticon-bat"></span></a></td>
                    <td colspan="2">Larry the Bird</td>
                    <td><button type="button" class="btn btn-primary">Attend</button></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
