<div class="jumbotron coverPhoto">
    <div class="container">
        <h1>Nicholas Gonzalez</h2>
        <h2>Morse 2015</h3>
    </div>
</div>

<div class="container">

    <h2>Your Teams<button type="button" class="btn btn-danger pull-right">Add Team</button></h2>

    <div class="row">
        <div class="col-md-3"><a class="thumbnail"><center><span class="flaticon-badminton1 largeSportIcon"></span></center></a></div>
        <div class="col-md-3"><a class="thumbnail"><center><span class="flaticon-bowling2 largeSportIcon"></span></center></a></div>
        <div class="col-md-3"><a class="thumbnail"><center><span class="flaticon-bat largeSportIcon"></span></center></a></div>
        <div class="col-md-3"><a class="thumbnail"><center><span class="flaticon-bowling2 largeSportIcon"></span></center></a></div>
    </div>

    <h2>Games Attended</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Colleges</th>
                    <th>Score</th>
                    <th>Win-Loss</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>