<div ng-if="!sportName" class="container">

    <div class="page-header">
        <h1>Choose A Sport</h1>
    </div>

    <div class="row">
        <div ng-repeat="season in allSports">
            <div class="col-md-3">

                    <h2>{{season.season}}</h2>
                    <div class="row">
                        <sport-select ng-repeat="sport in season.sport"  url="/#/sport/{{sport.url}}" sporturl="{{sport.url}}" sport="{{sport.name}}" iconsize="mediumSportIcon" colsize="col-sm-4"></sport-select>
                    </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


<div ng-if="sportName" class="container">

    <div class="page-header">
        <h1>{{sportName}}<button type="button" class="btn btn-danger pull-right">Join Team</button></h1>
    </div>

    <h3>Leaderboard</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Colleges</th>
            <th>Score</th>
            <th>Win-Loss</th>
        </tr>
        </thead>
        <tbody>
            <tr collegelb-row ng-repeat="sport in sports | orderBy:['-points','-win','loss']"
                rank="{{$index + 1}}"
                college="{{sport.college}}"
                collegeurl="{{sport.collegeURL}}"
                points="{{sport.points}}"
                wins="{{sport.win}}"
                loss="{{sport.loss}}"></tr>
        </tbody>
    </table>
    <hr class="featurette-divider">

    <h3>Schedule</h3>

    <h4>Upcoming Games</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Colleges</th>
            <th>RSVP</th>
        </tr>
        </thead>
        <tbody>
            <tr game-row ng-repeat="game in upcomingGames"
                team1="{{game.team1}}"
                team1abbr="{{game.team1}}"
                team1url="{{game.team1url}}"
                team2="{{game.team2}}"
                team2abbr="{{game.team2}}"
                team2url="{{game.team2url}}"
                score1="{{game.score1}}"
                score2="{{game.score2}}"
                date="{{game.date | date:'MM/dd @ h:mma'}}"
                noicon="true"
                rsvp="true"></tr>
        </tbody>
    </table>

    <h4>Past Games</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Colleges</th>
            <th>Score</th>

        </tr>
        </thead>
        <tbody>
            <tr game-row ng-repeat="game in pastGames"
                team1="{{game.team1}}"
                team1abbr="{{game.team1}}"
                team1url="{{game.team1url}}"
                team2="{{game.team2}}"
                team2abbr="{{game.team2}}"
                team2url="{{game.team2url}}"
                score1="{{game.score1}}"
                score2="{{game.score2}}"
                past="true"
                noicon="true"
                date="{{game.date | date:'MM/dd @ h:mma'}}"></tr>
        </tbody>
    </table>
</div>
