@font-face {
	font-family: "Flaticon";
	src: url("Flaticon/flaticon.eot");
	src: url("Flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("Flaticon/flaticon.woff") format("woff"),
	url("Flaticon/flaticon.ttf") format("truetype"),
	url("Flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
    margin-left: 0px;
}
/*
Not as good an icon
.flaticon-badminton:before {
	content: "\e000";
}*/
[class$="badminton"]:before {
	content: "\e001";
}
[class$="football"]:before {
	content: "\e002";
}
/*
.flaticon-baseball6:before {
	content: "\e003";
}*/
[class$="baseball"]:before {
	content: "\e004";
}
[class$="hoops"]:before {
	content: "\e005";
}
[class$="pingpong"]:before {
	content: "\e006";
}
[class$="bowling"]:before {
	content: "\e007";
}
[class$="soccer"]:before {
	content: "\e008";
}
[class$="golf"]:before {
	content: "\e009";
}
/*
[class$="basketball"]:before {
	content: "\e00b";
}*/
/*
.[class$="badminton"]:before {
	content: "\e00a";
}*/
[class$="rugby"]:before {
	content: "\e00c";
}
/*
[class$="running"]:before {
	content: "\e00d";
}
[class$="soccer"]:before {
	content: "\e00e";
}*/
[class$="volleyball"]:before {
	content: "\e00f";
}
/*
.flaticon-sports13:before {
	content: "\e010";
}*/
[class$="tennis"]:before {
	content: "\e011";
}
[class$="leaderboard"]:before {
	content: "\e012";
}
[class$="swimming"]:before {
	content: "\e013";
}
/*
.flaticon-tennis1:before {
	content: "\e014";
}*/
[class$="leaderboard"]:before {
	content: "\e015";
}


a, a:link, a:visited, a:hover, a:active
{
    text-decoration: none !important;
}