@font-face {
	font-family: "Flaticon";
	src: url("Flaticon/flaticon.eot");
	src: url("Flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("Flaticon/flaticon.woff") format("woff"),
	url("Flaticon/flaticon.ttf") format("truetype"),
	url("Flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
margin-left: 0px;
}.flaticon-badminton:before {
	content: "\e000";
}
.flaticon-badminton1:before {
	content: "\e001";
}
.flaticon-ball6:before {
	content: "\e002";
}
.flaticon-baseball6:before {
	content: "\e003";
}
.flaticon-baseball9:before {
	content: "\e004";
}
.flaticon-basketball3:before {
	content: "\e005";
}
.flaticon-bat:before {
	content: "\e006";
}
.flaticon-bowling2:before {
	content: "\e007";
}
.flaticon-football28:before {
	content: "\e008";
}
.flaticon-golf1:before {
	content: "\e009";
}
.flaticon-man36:before {
	content: "\e00a";
}
.flaticon-man50:before {
	content: "\e00b";
}
.flaticon-rugby2:before {
	content: "\e00c";
}
.flaticon-running:before {
	content: "\e00d";
}
.flaticon-sport5:before {
	content: "\e00e";
}
.flaticon-sportive2:before {
	content: "\e00f";
}
.flaticon-sports13:before {
	content: "\e010";
}
.flaticon-sports5:before {
	content: "\e011";
}
.flaticon-sports6:before {
	content: "\e012";
}
.flaticon-swimmer:before {
	content: "\e013";
}
.flaticon-tennis1:before {
	content: "\e014";
}
.flaticon-three13:before {
	content: "\e015";
}


a, a:link, a:visited, a:hover, a:active
{
    text-decoration: none !important;
}